.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background: var(--gray-850);
  border: none;
  color: var(--white);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
  transition: 0.3s ease;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    filter: brightness(0.8);
  }
}
